.div
{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    background-color: rgb(232, 232, 74);
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.a
{
    text-decoration: none;
    color: black;
}

