.div
{
    display: flex;
    justify-content: space-around;
}
.div button
{
    margin-left: 10px;
    background-color: rgb(147, 144, 143);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.input
{
    margin-top: 70px;
    height: 40px;
    width: 40%;
    margin-left: 50px;
}
.input::placeholder
{
    color: black;
    font-weight: bold;
    padding: 100px;
}
.select
{
    padding: 5px;
    width: 140px;
    color: black;
    font-weight: bold;
    margin-left: 700px;
    border-radius: 5px;
    border: none;
    background-color: rgba(241, 214, 5, 0.644);
    height: 40px;
    margin-top: 50px;

}
.card
{
    padding: 30px;
    padding-left: 80px;
    height: 200px;
    width: 400px;
    margin: 100px auto;
    background-color: rgba(246, 230, 8, 0.547);
    border-radius: 5px;
}
.detail{
    margin-top: 10px;
    font-weight: lighter;
    
}
.span{
    color: black;
    font-weight: bold;
    
}
.selectbutton
{
    display: flex;
}
.selects
{
    position: relative;
    left: 470px;
    top: 50px;
    padding: 5px;
    width: 140px;
    color: black;
    font-weight: bold;
    margin-left: 100px;
    border-radius: 5px;
    border: none;
    background-color: rgba(241, 214, 5, 0.644);
    height: 40px;
    margin-top: 50px;
}

.monthname
{
    position: relative;
    top: 90px;
    left: 580px;
}
